.contenedor {
    display: grid;
    display: -ms-grid;
    gap:20px;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows:  repeat (2, 1fr);*/

    } 
    .contenedor div {background-color: green;}